/* 기본 폰트 세팅 */
@font-face {
    font-family: Circular-light;
    src: url(../fonts/CircularSpotifyTxT-Light.ttf);
}
@font-face {
    font-family: Circular-medium;
    src: url(../fonts/CircularSpotifyTxT-Med.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
h1, h2, h3, p, a {
    font-family: Circular-light, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    color: white;
    cursor: default;
}
/* 기본 폰트 세팅 끝 */
a:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.3s;
}
body {
    background: #242421;
    width: calc(100% - 250px);
    transition: ease-in-out 0.25s;
}

/* 기본 아이콘 세팅 */
img {
    width: 32px;
}
/* 기본 아이콘 세팅 끝 */

/* MOTHER === 모든것들을 담는 컨테이너 */
#MOTHER {
    transition: ease-in-out 1s;
}
/* MOTHER 끝 */

/* 사이드 바 시작 */
#side-bar {
    position: fixed;
    min-width: 80px; max-width: 80px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    transition: ease-in-out 0.35s;
    background: #212121;
    /* z-index 2로 둔 이유:
    movie-card-small을 Javascript로 생성할 때, 사이드바를 가리기 때문에
    사이드바 z-index = 2, 그리고 movie-card-small의 z-index는 1로 두었음.
    */
    z-index: 2;
}
#side-bar a {
    font-family: Montserrat, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: 0.2px;
    color: #b4b4b4;
}
#side-bar img {
    cursor: pointer;
}
#side-bar a:hover {
    
    color: #ffffff;
}

/* 사이드바 끝 */

/* 로고 담는 컨테이너 시작 */
#logo-container {
    display: flex;
    gap: 10px;
    height: 100px;
    align-items: center;
    padding-left: 15px;
}
#logo {
    width: 48px;
    height: 48px;
    transition: all 0.6s;
    transform: scaleX(1);
}
#logo:hover {
    transition: all 0.6s;
    transform: scale(0.9);
}

#logo-h1 {
    display: none;
    padding-top: 9px;
    padding-left: 5px;
    font-size: 2rem;
    letter-spacing: 1px;
    font-family: Circular-medium, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    cursor: pointer;
}
/* 로고 담는 컨테이너 끝 */

/* 사이드바 두 번째 컨테이너 시작 */
/* Home 부터 Log out 까지 컨테이너 */
#side-bar-2nd-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 40px;
    padding-left: 25px;
}
/* 사이드바 두 번째 컨테이너 끝 */
/* Log out 밑에 250px의 빈 공간 생성 */
#side-bar-menu-container-3 {
    padding-bottom: 250px;
}
/* 사이드바 메뉴들 3부분(1. home부터 coming soon, 2. community-social, 3. settings-logout) */
.side-bar-menu-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* 사이드바 메뉴 (아이콘과 메뉴 이름, 예시; 집모양 아이콘과 <a>home</a>) */
.side-bar-menu {
    min-width: 150px;
    display: flex;
    gap: 15px;
}
.side-bar-menu > a {
    padding-top: 9px;
    letter-spacing: 0.5px;
    font-size: 1rem;
    cursor: pointer;
}
/* 사이드바 하단부 토글 아이콘 */
#side-bar-toggle {
    position: absolute;
    width: 32px; height: 32px;
    background-image: url(../imgs/sidebar_toggle_expand.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 50px; right: 0px;
    opacity: 0.7;
    cursor: pointer;
}
/* 자바스크립트에서 클릭시 사이드바 토글 아이콘의 id가 "side-bar-toggle1"로 변경되면, 그에 맞게 아이콘을 바꿔준다.*/
#side-bar-toggle1 { 
    position: absolute;
    width: 32px; height: 32px;
    background-image: url(../imgs/sidebar_toggle.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 50px; right: 0px;
    opacity: 0.7;
    cursor: pointer;
}
/* 기존에 투명도를 70%를 준다음 호버이펙트로 100%를 주면 호버시에 밝아지는 효과 추가 */
#side-bar-toggle:hover, #side-bar-toggle1:hover{
    opacity: 1;
    transition: all 0.2s;
}
/* 사이드바 메뉴들 클래스 끝*/

/* 메인 세팅 시작 */
main {
    width: 100%;
    background: rgb(33,33,33);
    background: linear-gradient(45deg, rgba(33,33,33,1) 0%, rgba(58,64,66,1) 35%, rgba(80,113,112,1) 94%);
    transition: all 0.4s;
    padding-left: 80px; /* 사이드바가 fixed되있기 때문에 그만큼 왼쪽 공간을 마련해야 함 */
}
/* 메인 세팅 끝 */

/* 섹션 1 시작 */
/* section1 메인 영화 상영 부분 Movies 부터 음소거 버튼까지 */
#section1 {
    background: rgb(0,0,0); /* 영상이 틀어지므로 기본화면은 검은색으로*/
    height: 600px;
    position: relative;  /* 유튜브 #player가 absolute를 갖으므로 부모 컨테이너를 relative로 설정*/
    transition: all 0.6s;
    overflow: hidden; /* 영상이 넘치는거 방지*/
}
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: relative; /* 유튜브 설정 이거 두개를 해야 영상 위에서 존재한다. */
    z-index: 10;        /* 유튜브 설정 이거 두개를 해야 영상 위에서 존재한다. */
    transition: ease-in-out 0.8s;
}
.header_links {
    transition: all 0.3s;
    cursor: pointer;
}

.header_links:hover{
    color: #50717b;
    transition: transform ease-in-out 0.3s;
}
/* nav 왼쪽 부분 */
#header-div1 ul {
    height: 100%;
    display: flex;
    gap: 25px;
    padding-left: 35px;
    align-items: center;
}
#header-div2 img {
    cursor: pointer;
    transform: scale(1);
    transition: ease-in-out 0.3s;
}
#header-div2 img:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.1s;
}
#profile-name {
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
#profile-name:hover {
    color: #50717b;
    font-weight: 700;
    transition: ease-in-out 0.2s;
}
/* nav 오른쪽 부분 */
#header-div2 {
    height: 100%;
    display: flex;
    gap: 20px;
    padding-right: 25px;
    align-items: center;
}
#header-div2 img{
    width: 32px;
    height: 32px;
}
/* nav 프로필 컨테이너 시작 */
#nav-profile-container {
    display: flex;
    gap: 15px;
}
#nav-profile-container h2 {
    padding: 8px;
}
/* 섹션 1 영화 소개 컨테이너 */
/* 영화 제목, 연도, 장르, watch now 버튼, 음소거 버튼 */
#section1-div {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    gap: 30px;
    padding-top: 290px;
    position: relative; /* 유튜브 설정 이거 두개를 해야 영상 위에서 존재한다. */
    z-index: 10;        /* 유튜브 설정 이거 두개를 해야 영상 위에서 존재한다. */
}
#section1-movie-title {
    font-size: 2.5rem;
    font-family: Montserrat, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: default;
    transition: ease-in-out 0.3s;
}
.movie-basic-info-genre {
    transition: ease-in-out 0.3s;
}
.movie-basic-info {
    display: flex;
    gap: 10px;
    cursor: default;
}
.movie-basic-info p {
    font-size: 0.9rem;
}
.movie-basic-info-year {
    padding-right: 10px;
    border-right: 1.5px white solid;
    transition: ease-in-out 0.3s;
}
.movie-basic-info-seasons {
    padding-left: 10px;
    border-left: 1.5px white solid;
    transition: ease-in-out 0.3s;
}
/* Watch now 버튼 */
#section1-div-comp-3 {
    display: flex;
    gap: 15px;
}
#Button-watch {
    padding: 10px 20px;
    font-size: 1rem;
    font-family: Montserrat, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    color: #fff;
    background: #50717b;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    transform: scale(1);
    -webkit-box-shadow: 0px 0px 300px 0px rgba(80,113,123,1);
    -moz-box-shadow: 0px 0px 300px 0px rgba(80,113,123,1);
    box-shadow: 0px 0px 300px 0px rgba(80,113,123,1);
}
#Button-watch:hover { /* 호버 효과 */
    transform: scale(1.05);
    transition: ease-in-out 0.2s;
}
#Button-watch:active { /* 마우스 클릭 효과 */
    transform: scale(0.95);
    transition: ease-in-out 0.2s;
}
/* favorite 버튼 */
#Button-main-favorite {
    transition: ease-in-out 0.3s;
}
.Button-add-to-favorite {
    background: url(../imgs/like.png);
    width: 32px;height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px;
    border: none;
    cursor: pointer;
    transform: scale(1);
    transition: ease-in-out 0.2s;
}
.Button-add-to-favorite:hover { /* 호버 효과 */
    transform: scale(1.02);
    transition: ease-in-out 0.2s;
    background: url(../imgs/liked.png);
    width: 32px;height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px;
    border: none;
    cursor: pointer;
}
.Button-add-to-favorite:active { /* 마우스 클릭 효과 */
    transform: scale(0.85);
    transition: ease-in-out 0.15s;
}
/* 좋아요 버튼 누르면 안에 색이 가득찬 하트 아이콘으로 변경 */
.Button-add-to-favorite.liked {
    background: url(../imgs/liked.png);
    width: 32px;height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px;
    border: none;
    cursor: pointer;
    transform: scale(1);
    transition: ease-in-out 0.2s;
}
/* 섹션 1 끝 */
/*  */
/*  */
/*  */
/* 섹션 2 시작 */
/* 섹션 2는 메인 영상 부분 제외한 나머지 밑에 부분 */
#section2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 35px;
}
/* 각각 Trending Film, Trending TV Series, Trending Poeple */
#section2-div1, #section2-div2, #section2-div3 {
    position: relative; /* 화살표 아이콘이 absolute이므로 */
    margin-bottom: 20px;
}
.sub-title {
    font-family: Circular-medium, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.7rem;
    padding-bottom: 40px;
}

/* CARD */
/* movie-list = 카드들 담는 컨테이너 */
.movie-list {
    display: flex;
    overflow: hidden; /* CARD 넘치는 부분 가리기*/
    gap: 40px; /* CARD 사이의 간격 */
    position: relative;
    transition: ease-in-out 0.3s;
}
/* 각각의 카드들 */
.movie-card-small {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 280px; min-width: 280px;
    height: 380px;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    transform: scale(1);
    transition: ease-in-out 0.3s;
    cursor: pointer;
}
.movie-card-small:hover {
    transform: scale(0.96);
    transition: ease-in-out 0.3s;
}
.movie-card-small:active {
    transform: scale(0.95);
    transition: all 0.2s;
}
/* 카드 안의 favorite 버튼 */
.Button-add-to-favorite.small_card {
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 15px;
}
/* 카드 안의 영화 정보 컨테이너 */
.movie-card-info {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
    background: #ffffffc7;
    border-radius: 0 0 15px 15px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 25px;
    opacity: 0;
    transform: scale(1);
    transition: ease-in-out 0.3s;
}
.movie-title {
    color: #222;
    font-family: Circular-medium, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.15rem;
}
.movie-card-info p {
    color: #222;
    font-family: Circular-light, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    font-size: 0.9rem;
}
.movie-basic-info-year.small_card {
    padding-right: 10px;
    border-right: 1.5px #222 solid;
}
.movie-basic-info-seasons.small_card {
    padding-left: 10px;
    border-left: 1.5px #222 solid;
}
/* SECTION 1 ARROW */
.arrow-main {
    position: absolute;
    top: calc(40%);
    width: 30px;
    height: 45px;
    cursor: pointer;
    opacity: 0.6;
}
.arrow-main:hover {
    opacity: 1;
}
.arrow-main.prev {
    left: 0px;
}
/* SECTION 2 ARROW */
.arrow {
    position: absolute;
    top: calc(50%);
    width: 30px;
    height: 55px;
    border-radius: 8px;
    opacity: 0.8;
    z-index: 2;
    cursor: pointer;
  }
.prev {
    background: url(../imgs/arrow_prev.png);
    left: -30px;
    background-size: contain;
    background-repeat: no-repeat;
    }

.next {
    background: url(../imgs/arrow_next.png);
    right: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    }
.arrow:hover {
    opacity: 1;
    }
/*  */

/* 유튜브 메인 플레이어 */
#player {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* 동영상을 다른 요소들보다 아래에 표시 */   
    pointer-events: none;   
    /* transform: scaleX(1.05) scaleY(1.2); */
    transform: scale(1.35);
    transition: ease-in-out 0.5s;
}
/* 유튜브 모달 플레이어 */
#modal-player {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* 동영상을 다른 요소들보다 아래에 표시 */   
    pointer-events: none;
    border-radius: 20px 20px 0 0;
    transition: ease-in-out 0.8s;
    transform: scale(1.4);
}

/* MUTE BUTTON */
/* 음소거 버튼 */
#main-mute {
    position: absolute;
    right: 30px;
    background: url(../imgs/mute.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transition: ease-in 0.2s;
}
#main-mute:hover {
    transition: ease-in 0.2s;
}
#main-mute1 {
    position: absolute;
    right: 30px;
    background: url(../imgs/unmute.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transition: ease-in 0.2s;
}
#main-mute1:hover {
    transition: ease-in 0.2s;
}
/*  */


/* */
/* */
/* 모달 */
/* */
/* */


/* movie-info-container는 모달 전체 영역 */
#movie-info-container {
    opacity: 0; /* 기본값 0으로 숨김상태*/
    z-index: -10; /* 투명도와 함꼐 -10으로 둬 숨김상태 유지*/
    /* display:none으로 하면 자바스크립트로 display 원래대로 했을때 애니메이션이 구동 안되기 때문에 opacity와 z-index를 사용하는 대안을 채택함. */
    background: #000;
    position: fixed;
    width: 800px;
    height: 600px;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    /* fixed에 top 50, left 50 그리고 translate을 -50 -50 주면 정확히 항상 화면 중앙에 위치하게 된다. */
    border-radius: 20px;
    transition: ease-in-out 0.6s;
    overflow: hidden; /* 영상 넘치는거 방지 */
}
#movie-info-container:hover {
    transition: ease-in-out 0.4s;
}
/* 모달 플레이어 영역 */
#modal-player-div {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    padding-left: 20px;
    height: 400px;
    border-radius: 20px 20px 0 0; /* border radius 각각 (왼쪽 위, 오른쪽 위, 오른쪽 아래, 왼쪽 아래)모서리 */
}
#modal-movie-title {
    font-family: Montserrat, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: default;
}
#modal-like {
    margin-left: 10px;
    padding: 18px;
}
/* Watch now 버튼, favorite 버튼 mute 버튼 담는 컨테이너 */
#modal-div-comp-3 {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 20px;
}
#Button-modal-watch {
    padding: 8px 16px;
    font-size: 0.9rem;
    font-family: Montserrat, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    color: #fff;
    background: #50717b;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    transform: scale(1);
    -webkit-box-shadow: 0px 0px 300px 0px rgba(80,113,123,1);
    -moz-box-shadow: 0px 0px 300px 0px rgba(80,113,123,1);
    box-shadow: 0px 0px 300px 0px rgba(80,113,123,1);
}
#Button-modal-watch:hover {
    transition: ease-in-out 0.2s;
    transform: scale(1.05);
}
#Button-modal-watch:active {
    transition: ease-in-out 0.2s;
    transform: scale(0.95);
}
.arrow-modal {
    position: absolute;
}
#movie-info-text-container {
    display: flex;
    position: relative;
    background: #fff;
    height: 200px;
    border-radius: 0 0 20px 20px;
}

#modal_video_info {
    font-size: 1rem;
}

/* RATE */
/* 모달 오른쪽 아래 평점, 인기도 등을 담은 컨테이너 */
#modal-text-right-div1 {
    display: flex;
    gap: 20px;
}
#modal-text-right-div1 h1 {
    color: #222;
    font-family: Montserrat, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    font-size: 0.95rem;
    padding-left: 10px;
    padding-top: 18px;
    font-weight: 600;
}
/* modal-text-left = 모달 왼쪽 아래 부분 Overview 담는 컨테이너 */
#modal-text-left {
    position: relative;
    width: 70%; height: 100%;
    overflow: scroll;
    border-right: 2px dashed #0c0c0c;
}
/* Overview */
#modal-text-left h2{
    color: #222;
    font-family: Montserrat, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.2rem;
    padding-left: 18px;
    padding-top: 18px;
    font-weight: 600;
}
/* Overview 내용 */
#modal-text-left p{
    color: #222;
    font-family: Montserrat, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    font-size: 1rem;
    padding: 20px;
    line-height: 1.4;
}
/* 모달 오른쪽 상단 닫기 버튼 */
#modal-close {
    background: url(../imgs/close.png);
    width: 32px; height: 32px;
    position: absolute;
    top: 5px; right: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    opacity: 0.6;
    transform: translate(-10%, -10%);
    transition: ease-in-out 0.2s;
}
#modal-close:hover {
    width: 36px; height: 36px;
    top: 10px; right: 10px;
    opacity: 1;
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
}
/* 모달 음소거 버튼 */
#modal-mute {
    position: absolute;
    right: 30px;
    background: url(../imgs/mute.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    z-index: 10;
    opacity: 0.7;
    transition: ease-in 0.2s;
}
#modal-mute:hover {
    opacity: 1;
    transition: ease-in 0.2s;
}
#modal-mute1 {
    position: absolute;
    right: 30px;
    background: url(../imgs/unmute.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    z-index: 10;
    opacity: 0.7;
    transition: ease-in 0.2s;
}
#modal-mute1:hover {
    opacity: 1;
    transition: ease-in 0.2s;
}
/* 모달 평점 담는 컨테이너 */
#modal_rate_container {
    display: flex;
    gap: 5px;
    padding-top: 10px;
    padding-right: 15px;
}
/* 각각 평점의 별 아이콘 */
#modal_rate_container img{
    width: 28px; height: 28px;
    border: none;
}
/* 인기도 진행바 설정 */
.progress-bar {
    width: 125px;
    height: 20px;
    background-color: #fafafa;
    border-radius: 4px;
    border: 1px dotted #bfbfbf;
    overflow: hidden;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.progress {
width: 40%; /* 진행 상태에 따라 조정 가능 */
height: 100%;
background-color: #6b9cfe;
}
/* 모달 오른쪽 컨테이너 글씨 설정 */
#modal-text-right {
    display: flex;
    flex-direction: column;
}
#progress-bar-container h3 {
    color: #222;
    font-family: Montserrat, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    font-size: 0.95rem;
    padding-top: 18px;
    padding-left: 10px;
    font-weight: 600;
}
#progress-bar-container {
    display: flex;
}
#release-date-container h3 {
    color: #222;
    font-family: Montserrat, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    font-size: 0.95rem;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 600;
}
#release-date-container p {
    color: #333;
    font-family: Montserrat, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    font-size: 0.95rem;
    padding-top: 10px;
    padding-left: 15px;
}
#release-date-container {
    display: flex;
}
#genres-container {
    display: flex;
}
#genres-container h3 {
    color: #222;
    font-family: Montserrat, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    font-size: 0.95rem;
    padding-top: 22px;
    padding-left: 10px;
    font-weight: 600;
}
#genres-container p {
    color: #333;
    font-family: Montserrat, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    font-size: 0.95rem;
    padding-top: 18px;
    padding-left: 15px;
    line-height: 1.5;
}

/* SEARCH RELATED CSS */
/* 아래부터 검색 요소 디자인 */
#search-container {
    position: fixed;
    top: 40%; left: 53%;
    transform: translate(-50%, -50%);
    width: 60%; height: 55px; max-width: 600px; min-width: 300px;
    background: #c0c0c0dd;
    display: flex;
    gap: 15px;
    align-items: center;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    opacity: 0;
    z-index: 0;
}
#search-icon {
    width: 32px; height: 32px;
    padding-left: 10px;
    padding-right: 15px;
}
#search-area { /* input */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 50px;
    border: none;
    background-color: transparent;
    padding: 0;
    color: #222;
    font-family: Montserrat, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: 0.4px;
    font-size: 1.1rem;
}
/* input 활성화시 기존의 html이 갖고 있던 파란색 아웃라인 효과 없애기 */
#search-area:focus {
    outline: none;
    background-color: transparent;
}
/* 검색 취소 아이콘 (오른쪽 X 버튼) */
#close-search {
    width: 32px; height: 32px;
    padding-right: 10px;
    opacity: 0.6;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
#close-search:hover {
    opacity: 1;
    transition: ease-in-out 0.2s;
    transform: scale(0.95);
}
#close-search:active {
    transition: ease-in-out 0.2s;
    transform: scale(0.7);
}

/* SEARCH RESULT */
/* 검색 결과창 CSS */
#search-result {
    width: 60%; max-width: 600px;
    position: fixed;
    top: calc(40% + 155px); left: 53%;
    transform: translate(-50%, -50%);
    background: #c0c0c0dd;
    border-radius: 10px;
    z-index: -1;
    opacity: 0;
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    height: 250px;
    overflow: auto;
}
.search-result-inner-container {
    width: 100%;
    height: 50px;
    display: flex;
    box-shadow: 0 0 1px 0 rgb(92, 92, 92);
    cursor: pointer;
}
/* 검색창 결과 안의 모든 요소들에 포인터 효과 삭제(그래야 자바스크립트로 search-result-inner-container에 호버효과 줄 때 바로 줄수 있음(각각의 요소들을 인식하지 못하게 설정)  */
.search-result-inner-container * {
    pointer-events: none;
}
/* 왼쪽 div 즉, 포스터 컨테이너 */
.search-result-inner-container-left-div {
    padding-left: 15px;
    display: flex;
    align-items: center;
    height: 100%;
}
.search-result-poster{
    width: 40px;
    height: 90%;
}
/* 오른쪽 div 즉, 영화제목과 연도, 장르 컨테이너 */
.search-result-inner-container-right-div {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}
.search-result-movie-title {
    width: 75%;
    padding-left: 15px;
    color: #222;
    line-height: 1.1;
}
.search-result-other-info-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 10px;
}
.search-result-movie-genre, .search-result-movie-year {
    color: #222;
    text-align: right;
    width: 150px;
}
.search-result-movie-genre {
    font-size: 0.9rem;
}