/* 기본 폰트 세팅 */
@font-face {
    font-family: Circular-light;
    src: url(fonts/CircularSpotifyTxT-Light.ttf);
}
@font-face {
    font-family: Circular-medium;
    src: url(fonts/CircularSpotifyTxT-Med.ttf);
}
@font-face {
    font-family: Circular-bold;
    src: url(fonts/FontsFree-Net-Circular-Std-Bold.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
h1, h2, h3, p, a {
    font-family: Circular-light, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    color: white;
}
/* 기본 폰트 세팅 끝 */
a:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.3s;
}
body {
    background: #242421;
    width: calc(100% - 250px);
    transition: ease-in-out 0.25s;
}

/* 기본 아이콘 세팅 */
img {
    width: 32px;
}
/* 기본 아이콘 세팅 끝 */

/* MOTHER === 모든것들을 담는 컨테이너 */
#MOTHER {
    display: flex;
    
}
/* MOTHER 끝 */

/* 사이드 바 시작 */
#side-bar {
    position: fixed;
    min-width: 80px; max-width: 80px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    transition: all 0.4s;
    background: #212121;
    /* z-index 2로 둔 이유:
    movie-card-small을 Javascript로 생성할 때, 사이드바를 가리기 때문에
    사이드바 z-index = 2, 그리고 movie-card-small의 z-index는 1로 두었음.
    */
    z-index: 2;
}
#side-bar a {
    font-family: Montserrat, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: 1;
    color: #b4b4b4;
}
#side-bar img {
    cursor: pointer;
}
#side-bar a:hover {
    
    color: #ffffff;
}

/* 사이드바 끝 */

/* 로고 담는 컨테이너 시작 */
#logo-container {
    display: flex;
    gap: 10px;
    height: 100px;
    align-items: center;
    padding-left: 15px;
}
#logo {
    width: 48px;
    height: 48px;
    transition: all 0.6s;
    transform: scaleX(1);
}
#logo:hover {
    transition: all 0.6s;
    transform: scale(0.9);
}

#logo-h1 {
    display: none;
    padding-top: 9px;
    padding-left: 5px;
    font-size: 2rem;
    letter-spacing: 1px;
    font-family: Circular-medium, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    cursor: pointer;
}
/* 로고 담는 컨테이너 끝 */

/* 사이드바 두 번째 컨테이너 시작 */
#side-bar-2nd-part {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 40px;
    padding-left: 25px;
}
/* 사이드바 두 번째 컨테이너 끝 */
#side-bar-menu-container-3 {
    padding-bottom: 250px;
}
/* 사이드바 메뉴들 클래스 */
.side-bar-menu-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-bar-menu {
    min-width: 150px;
    display: flex;
    gap: 15px;
}
.side-bar-menu > a {
    padding-top: 9px;
    letter-spacing: 0.5px;
    font-size: 1rem;
}
#side-bar-toggle {
    position: absolute;
    width: 32px; height: 32px;
    background-image: url(imgs/sidebar_toggle_expand.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 50px; right: 0px;
    opacity: 0.7;
    cursor: pointer;
} 
#side-bar-toggle1 {
    position: absolute;
    width: 32px; height: 32px;
    background-image: url(imgs/sidebar_toggle.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 50px; right: 0px;
    opacity: 0.7;
    cursor: pointer;
}
#side-bar-toggle:hover, #side-bar-toggle1:hover{
    opacity: 1;
    transition: all 0.2s;
}
/* 사이드바 메뉴들 클래스 끝*/

/* 메인 세팅 시작 */
main {
    width: 100%;
    /* background: rgb(142,204,192);
background: linear-gradient(45deg, rgba(142,204,192,1) 0%, rgba(80,113,123,1) 50%, rgba(58,64,66,1) 100%); */
background: rgb(33,33,33);
background: linear-gradient(45deg, rgba(33,33,33,1) 0%, rgba(58,64,66,1) 35%, rgba(80,113,112,1) 94%);
    padding-left: 80px;
    transition: all 0.4s;
}
/* 메인 세팅 끝 */

/* 섹션 1 시작 */
#section1 {
    background: rgb(0,0,0);
    height: 600px;
    position: relative;  /* 유튜브 설정*/
    transition: all 0.6s;
}
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: relative; /* 유튜브 설정 이거 두개를 해야 영상 위에서 존재한다. */
    z-index: 10;        /* 유튜브 설정 이거 두개를 해야 영상 위에서 존재한다. */
}
.header_links {
    transition: all 0.3s;
}

.header_links:hover{
    color: #50717b;
    transition: transform ease-in-out 0.3s;
}
/* nav 왼쪽 부분 */
#header-div1 ul {
    height: 100%;
    display: flex;
    gap: 25px;
    padding-left: 35px;
    align-items: center;
}
#header-div2 img {
    cursor: pointer;
    transform: scale(1);
    transition: ease-in-out 0.3s;
}
#header-div2 img:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.1s;
}
#profile-name {
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
#profile-name:hover {
    color: #50717b;
    font-weight: 700;
    transition: ease-in-out 0.2s;
}
/* nav 오른쪽 부분 */
#header-div2 {
    height: 100%;
    display: flex;
    gap: 20px;
    padding-right: 25px;
    align-items: center;
}
#header-div2 img{
    width: 32px;
    height: 32px;
}
/* nav 프로필 컨테이너 시작 */
#nav-profile-container {
    display: flex;
    gap: 15px;
}
#nav-profile-container h2 {
    padding: 8px;
}
/* 섹션 1 영화 소개 컨테이너 */
#section1-div {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    gap: 30px;
    padding-top: 290px;
    position: relative; /* 유튜브 설정 이거 두개를 해야 영상 위에서 존재한다. */
    z-index: 10;        /* 유튜브 설정 이거 두개를 해야 영상 위에서 존재한다. */
}
#section1-movie-title {
    font-size: 2.5rem;
    font-family: Montserrat, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
}
.movie-basic-info {
    display: flex;
    gap: 10px;
}
.movie-basic-info p {
    font-size: 0.9rem;
}
.movie-basic-info-year {
    padding-right: 10px;
    border-right: 1.5px white solid;
}
.movie-basic-info-seasons {
    padding-left: 10px;
    border-left: 1.5px white solid;
}
/* Watch now 버튼 */
#section1-div-comp-3 {
    display: flex;
    gap: 15px;
}
#Button-watch {
    padding: 10px 20px;
    font-size: 1rem;
    font-family: Montserrat, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    color: #fff;
    background: #50717b;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    transform: scale(1);
}
#Button-watch:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.2s;
}


.Button-add-to-favorite {
    background: url(imgs/like.png);
    width: 32px;height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px;
    border: none;
    cursor: pointer;
    transform: scale(1);
    transition: ease-in-out 0.2s;
}
.Button-add-to-favorite.liked {
    background: url(imgs/liked.png);
    width: 32px;height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px;
    border: none;
    cursor: pointer;
    transform: scale(1);
    transition: ease-in-out 0.2s;
}

.Button-add-to-favorite:hover {
    transform: scale(1.02);
    transition: ease-in-out 0.2s;
    background: url(imgs/liked.png);
    width: 32px;height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px;
    border: none;
    cursor: pointer;
}
.Button-add-to-favorite:active {
    transform: scale(0.85);
    transition: ease-in-out 0.15s;
}
/* 섹션 1 끝 */

/* 섹션 2 시작*/
#section2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 35px;
}
#section2-div1, #section2-div2, #section2-div3 {
    overflow: visible;
    position: relative;
    margin-bottom: 20px;
}
.sub-title {
    font-family: Circular-medium, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.7rem;
    padding-bottom: 40px;

}

/* CARD */
.movie-list {
    display: flex;
    overflow: hidden;
    gap: 40px;
    position: relative;
    transition: ease-in-out 0.3s;
}
.movie-card-small {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 270px; min-width: 270px;
    height: 330px;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1);
    transition: ease-in-out 0.3s;
}
.movie-card-small:hover {
    transform: scale(0.98);
    transition: ease-in-out 0.3s;
}
.Button-add-to-favorite.small_card {
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 15px;
}

.movie-card-info {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
    background: #ffffffc7;
    border-radius: 0 0 15px 15px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 25px;
    opacity: 0;
    transform: scale(1);
    transition: ease-in-out 0.3s;
}

.movie-title {
    color: #222;
    font-family: Circular-medium, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.15rem;
}

.movie-card-info p {
    color: #222;
    font-family: Circular-light, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    font-size: 0.9rem;
}
.movie-basic-info-year.small_card {
    padding-right: 10px;
    border-right: 1.5px #222 solid;
}
.movie-basic-info-seasons.small_card {
    padding-left: 10px;
    border-left: 1.5px #222 solid;
}
/* SECTION 2 DIV 2 */
.sub-title.div-2 {
    padding-bottom: 30px;
}
/*  */
/* SECTION 1 ARROW */
.arrow-main {
    position: absolute;
    top: calc(40%);
    width: 30px;
    height: 45px;
    cursor: pointer;
    opacity: 0.6;
}
.arrow-main:hover {
    opacity: 1;
}
.arrow-main.prev {
    left: 0px;
}
/* SECTION 2 ARROW */
.arrow {
    position: absolute;
    top: calc(50%);
    width: 30px;
    height: 55px;
    border-radius: 8px;
    opacity: 0.8;
    z-index: 2;
    cursor: pointer;
  }
  
.prev {
    background: url(imgs/arrow_prev.png);
    left: -30px;
    background-size: contain;
    background-repeat: no-repeat;
    }

.next {
    background: url(imgs/arrow_next.png);
    right: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    }

.arrow:hover {
    opacity: 1;
    }
/*  */

/* 유튜브 */
#player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* 동영상을 다른 요소들보다 아래에 표시 */   
    pointer-events: none;   
  }

/* MUTE BUTTON */
#main-mute {
    position: absolute;
    right: 30px;
    background: url(imgs/mute.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

#main-mute1 {
    position: absolute;
    right: 30px;
    background: url(imgs/unmute.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}
/*  */